.darkStyleProjects {
    // height: 405px;
    width: 100%;
    padding: 70px 15% 70px 15%;
    
    color: #fff;
    font-size: 18px;
    font-weight: 450;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 0px;

    span {
        display: block;
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    text-align: center;
}

.lightStyleProjects {
    // height: 405px;
    width: 100%;
    padding: 70px 15% 70px 15%;
    background-color: #ffffff;
    color: #000000;
    font-size: 18px;
    font-weight: 450;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 0px;

    span {
        display: block;
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    text-align: center;
}


.photoElem {
    width: 400px;
    height: 250px;
    // margin-bottom: 20px;
    object-fit: cover;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

.darkCartoonElem {
    padding-bottom: 1%;
    margin-bottom: 2.5%;
    background: #171718;
    box-shadow: 2px 2px 10px #000;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

.lightCartoonElem {
    padding-bottom: 1%;
    margin-bottom: 2.5%;
    background: #ffffff;
    box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

.button {
    border: 0;
    height: 159;
    width: 80%;
    color: #fff;
    background-color: #5c62ec;
    padding: 12px 28px;
    letter-spacing: 0.15px;
    font-size: 16px;
    font-weight: 500;
    transition: opacity 0.2s ease-in;
    border-radius: 5px;
    transition: 0.3s;

    &:hover {
        background-color: #3c3f9e;
    }

    &:active {
        translate: 0px 1px;
    }
}

.title {
    padding: 2% 15% 0% 15%;
    color: #5c62ec;
    display: block;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;

    text-align: center;
}